.welcome {
    background-color: rgb(255, 238, 0);
    -webkit-animation:roll-in-top .6s ease-out both; 
    animation:roll-in-top .6s ease-out both;
    animation-delay: 3s;
}

.mainbg {
        background-image: url(../img/mainbg1.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        opacity: 95%;
        -webkit-animation:bg-pan-tr 40s both;
        animation:bg-pan-tr 40s both;
        animation-delay: 2s;
    
    }